## Objective of Data Wrangling

<font size = 3>
The objective of this step of our project is to narrow our data down to columns that will be useful for our machine learning modeling. We will also be doing some data pre-processing so that, our data is also ready for machine learning implementation. We also want to have clean data to do exploratory data analysis without any troubles.

In [1]:
#import libraries
import pandas as pd
import numpy as np
from scipy import stats
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
#Load data and observe the first five rows and their columns.
airbnb_df = pd.read_csv(r"C:\Users\darre\OneDrive\Documents\Capstone One Clean\Airbnb_NYC_Original-Vengeance.csv")
airbnb_df.head(5)

d:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (61,62,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,2.020020e+13,2/12/2020,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","- Spacious (500+ft²), immaculate and nicely fu...","Beautiful, spacious skylit studio in the heart...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,2,2,0,0,0.39
1,3831,https://www.airbnb.com/rooms/3831,2.020020e+13,2/13/2020,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1,1,0,0,4.69
2,5099,https://www.airbnb.com/rooms/5099,2.020020e+13,2/12/2020,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,I have a large 1 bedroom apartment centrally l...,My large 1 bedroom apartment has a true New Yo...,none,My neighborhood in Midtown East is called Murr...,...,f,f,moderate,t,t,1,1,0,0,0.59
3,5121,https://www.airbnb.com/rooms/5121,2.020020e+13,2/12/2020,BlissArtsSpace!,NaN,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.38
4,5178,https://www.airbnb.com/rooms/5178,2.020020e+13,2/13/2020,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"You will use one large, furnished, private roo...",Please don’t expect the luxury here just a bas...,none,"Theater district, many restaurants around here.",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,3.53

In [3]:
#Observe the columns and their names to see what we will be working with
print(airbnb_df.columns.values)
print('No. variables', len(airbnb_df.columns.values))

['id' 'listing_url' 'scrape_id' 'last_scraped' 'name' 'summary' 'space'
 'description' 'experiences_offered' 'neighborhood_overview' 'notes'
 'transit' 'access' 'interaction' 'house_rules' 'thumbnail_url'
 'medium_url' 'picture_url' 'xl_picture_url' 'host_id' 'host_url'
 'host_name' 'host_since' 'host_location' 'host_about'
 'host_response_time' 'host_response_rate' 'host_acceptance_rate'
 'host_is_superhost' 'host_thumbnail_url' 'host_picture_url'
 'host_neighbourhood' 'host_listings_count' 'host_total_listings_count'
 'host_verifications' 'host_has_profile_pic' 'host_identity_verified'
 'street' 'neighbourhood' 'neighbourhood_cleansed'
 'neighbourhood_group_cleansed' 'city' 'state' 'zipcode' 'market'
 'smart_location' 'country_code' 'country' 'latitude' 'longitude'
 'is_location_exact' 'property_type' 'room_type' 'accommodates'
 'bathrooms' 'bedrooms' 'beds' 'bed_type' 'amenities' 'square_feet'
 'price' 'weekly_price' 'monthly_price' 'security_deposit' 'cleaning_fee'
 'guests_included' 'extra_people' 'minimum_nights' 'maximum_nights'
 'minimum_minimum_nights' 'maximum_minimum_nights'
 'minimum_maximum_nights' 'maximum_maximum_nights'
 'minimum_nights_avg_ntm' 'maximum_nights_avg_ntm' 'calendar_updated'
 'has_availability' 'availability_30' 'availability_60' 'availability_90'
 'availability_365' 'calendar_last_scraped' 'number_of_reviews'
 'number_of_reviews_ltm' 'first_review' 'last_review'
 'review_scores_rating' 'review_scores_accuracy'
 'review_scores_cleanliness' 'review_scores_checkin'
 'review_scores_communication' 'review_scores_location'
 'review_scores_value' 'requires_license' 'license' 'jurisdiction_names'
 'instant_bookable' 'is_business_travel_ready' 'cancellation_policy'
 'require_guest_profile_picture' 'require_guest_phone_verification'
 'calculated_host_listings_count'
 'calculated_host_listings_count_entire_homes'
 'calculated_host_listings_count_private_rooms'
 'calculated_host_listings_count_shared_rooms' 'reviews_per_month']
No. variables 106

In [4]:
#Select columns that might be useful
selected_features = ['id','name','host_id', 'host_name', 'host_response_time', 'host_response_rate', 'host_acceptance_rate',
                    'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'zipcode',
                    'market', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
                     'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities','square_feet','price','weekly_price',
                     'monthly_price','minimum_nights', 'maximum_nights','availability_365','cleaning_fee']
airbnb_df[selected_features].head(5)

,id,name,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,...,bed_type,amenities,square_feet,price,weekly_price,monthly_price,minimum_nights,maximum_nights,availability_365,cleaning_fee
0,2595,Skylit Midtown Castle,2845,Jennifer,within a day,50%,38%,Midtown,Midtown,Manhattan,...,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park...",NaN,$225.00,"$1,995.00",NaN,7,1125,365,$95.00
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,within an hour,100%,96%,Brooklyn,Clinton Hill,Brooklyn,...,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",500.0,$89.00,$575.00,"$2,100.00",1,730,137,NaN
2,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,NaN,NaN,71%,Manhattan,Murray Hill,Manhattan,...,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$200.00,NaN,NaN,3,21,0,$125.00
3,5121,BlissArtsSpace!,7356,Garon,NaN,NaN,67%,Bedford-Stuyvesant,Bedford-Stuyvesant,Brooklyn,...,Futon,"{Wifi,""Air conditioning"",Kitchen,""Pets live on...",NaN,$60.00,NaN,NaN,29,730,365,$0.00
4,5178,Large Furnished Room Near B'way,8967,Shunichi,within a few hours,90%,100%,Manhattan,Hell's Kitchen,Manhattan,...,Real Bed,"{TV,Wifi,""Air conditioning"",""Paid parking off ...",NaN,$79.00,$470.00,NaN,2,14,216,$15.00

In [5]:
#look at the info of our data, observe what has missing values and the column types
airbnb_df_selected = airbnb_df[selected_features]
airbnb_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51097 entries, 0 to 51096
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            51097 non-null  int64
 1   name                          51080 non-null  object
 2   host_id                       51097 non-null  int64
 3   host_name                     51091 non-null  object
 4   host_response_time            32238 non-null  object
 5   host_response_rate            32238 non-null  object
 6   host_acceptance_rate          37103 non-null  object
 7   neighbourhood                 51082 non-null  object
 8   neighbourhood_cleansed        51097 non-null  object
 9   neighbourhood_group_cleansed  51097 non-null  object
 10  city                          50935 non-null  object
 11  zipcode                       50632 non-null  object
 12  market                        50998 non-null  object
 13  latitude                      51097 non-null  float64
 14  longitude                     51097 non-null  float64
 15  property_type                 51097 non-null  object
 16  room_type                     51097 non-null  object
 17  accommodates                  51097 non-null  int64
 18  bathrooms                     51050 non-null  float64
 19  bedrooms                      51022 non-null  float64
 20  beds                          50757 non-null  float64
 21  bed_type                      51097 non-null  object
 22  amenities                     51097 non-null  object
 23  square_feet                   384 non-null    float64
 24  price                         51097 non-null  object
 25  weekly_price                  5479 non-null   object
 26  monthly_price                 4756 non-null   object
 27  minimum_nights                51097 non-null  int64
 28  maximum_nights                51097 non-null  int64
 29  availability_365              51097 non-null  int64
 30  cleaning_fee                  40354 non-null  object
dtypes: float64(6), int64(6), object(19)
memory usage: 12.1+ MB

In [6]:
#drop duplicates
airbnb_df_selected = airbnb_df_selected.drop_duplicates()
airbnb_df_selected.head(5)

,id,name,host_id,host_name,host_response_time,host_response_rate,host_acceptance_rate,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,...,bed_type,amenities,square_feet,price,weekly_price,monthly_price,minimum_nights,maximum_nights,availability_365,cleaning_fee
0,2595,Skylit Midtown Castle,2845,Jennifer,within a day,50%,38%,Midtown,Midtown,Manhattan,...,Real Bed,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park...",NaN,$225.00,"$1,995.00",NaN,7,1125,365,$95.00
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,within an hour,100%,96%,Brooklyn,Clinton Hill,Brooklyn,...,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",500.0,$89.00,$575.00,"$2,100.00",1,730,137,NaN
2,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,NaN,NaN,71%,Manhattan,Murray Hill,Manhattan,...,Real Bed,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",NaN,$200.00,NaN,NaN,3,21,0,$125.00
3,5121,BlissArtsSpace!,7356,Garon,NaN,NaN,67%,Bedford-Stuyvesant,Bedford-Stuyvesant,Brooklyn,...,Futon,"{Wifi,""Air conditioning"",Kitchen,""Pets live on...",NaN,$60.00,NaN,NaN,29,730,365,$0.00
4,5178,Large Furnished Room Near B'way,8967,Shunichi,within a few hours,90%,100%,Manhattan,Hell's Kitchen,Manhattan,...,Real Bed,"{TV,Wifi,""Air conditioning"",""Paid parking off ...",NaN,$79.00,$470.00,NaN,2,14,216,$15.00

In [7]:
#dropping columns with too little data or data that is already covered by other columns
#dropping columns that will not affect our prediction of price
airbnb_df_selected = airbnb_df_selected.drop(['id','name','host_id','host_name','neighbourhood', 'neighbourhood_cleansed',
                                             'weekly_price','monthly_price', 'cleaning_fee', 'maximum_nights', 'square_feet',
                                             'bed_type','amenities'], axis = 1)
airbnb_df_selected.head(5)

,host_response_time,host_response_rate,host_acceptance_rate,neighbourhood_group_cleansed,city,zipcode,market,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,availability_365
0,within a day,50%,38%,Manhattan,New York,10018,New York,40.75362,-73.98377,Apartment,Entire home/apt,1,1.0,0.0,1.0,$225.00,7,365
1,within an hour,100%,96%,Brooklyn,Brooklyn,11238,New York,40.68514,-73.95976,Guest suite,Entire home/apt,3,1.0,1.0,4.0,$89.00,1,137
2,NaN,NaN,71%,Manhattan,New York,10016,New York,40.74767,-73.97500,Apartment,Entire home/apt,2,1.0,1.0,1.0,$200.00,3,0
3,NaN,NaN,67%,Brooklyn,Brooklyn,11216,New York,40.68688,-73.95596,Apartment,Private room,2,NaN,1.0,1.0,$60.00,29,365
4,within a few hours,90%,100%,Manhattan,New York,10019,New York,40.76489,-73.98493,Apartment,Private room,2,1.0,1.0,1.0,$79.00,2,216

In [8]:
#look to see what features have large amounts of missing values
num_missing = airbnb_df_selected.isnull().sum()
percent = num_missing / airbnb_df_selected.isnull().count()

df_missing = pd.concat([num_missing, percent], axis=1, keys=['MissingValues', 'Fraction'])
df_missing = df_missing.sort_values('Fraction', ascending=False)
df_missing[df_missing['MissingValues'] > 0]

                      MissingValues  Fraction
host_response_time            18859  0.369082
host_response_rate            18859  0.369082
host_acceptance_rate          13994  0.273871
zipcode                         465  0.009100
beds                            340  0.006654
city                            162  0.003170
market                           99  0.001937
bedrooms                         75  0.001468
bathrooms                        47  0.000920

In [9]:
#drop features with large amounts of missing values
variables_to_keep = df_missing[df_missing['MissingValues'] <= 340].index
airbnb_df_selected = airbnb_df_selected[variables_to_keep]
airbnb_df_selected.shape

(51097, 14)

In [10]:
#dropping rows with missing values
airbnb_df_selected = airbnb_df_selected.dropna()
airbnb_df_selected.shape

(50430, 14)

In [11]:
#combining latitude & longitude using binning
step = 0.1
to_bin = lambda x: np.floor(x / step) * step
airbnb_df_selected['latitude_bin'] = airbnb_df_selected['latitude'].map(to_bin)
airbnb_df_selected['longitude_bin'] = airbnb_df_selected['longitude'].map(to_bin)
airbnb_df_selected = airbnb_df_selected.drop(['latitude', 'longitude'], axis=1)

In [12]:
grps = airbnb_df_selected.groupby(['latitude_bin', 'longitude_bin'])

bin_dict = {}
for i, key in enumerate(grps.groups.keys()):
    bin_dict[key] = i

airbnb_df_selected['latitude_longitude_bin'] = airbnb_df_selected.apply(lambda x: bin_dict[(x['latitude_bin'], x['longitude_bin'])], axis = 1)
airbnb_df_selected = airbnb_df_selected.drop(['latitude_bin', 'longitude_bin'], axis=1)

In [13]:
airbnb_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50430 entries, 0 to 51096
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beds                          50430 non-null  float64
 1   city                          50430 non-null  object
 2   market                        50430 non-null  object
 3   bedrooms                      50430 non-null  float64
 4   bathrooms                     50430 non-null  float64
 5   minimum_nights                50430 non-null  int64
 6   price                         50430 non-null  object
 7   property_type                 50430 non-null  object
 8   accommodates                  50430 non-null  int64
 9   room_type                     50430 non-null  object
 10  neighbourhood_group_cleansed  50430 non-null  object
 11  availability_365              50430 non-null  int64
 12  latitude_longitude_bin        50430 non-null  int64
dtypes: float64(3), int64(4), object(6)
memory usage: 5.4+ MB

In [14]:
#parse data which should be categorical data
features_categorical = ['beds','bedrooms','bathrooms','city','market','neighbourhood_group_cleansed','room_type','property_type',]

for col in features_categorical:
    le = preprocessing.LabelEncoder()
    airbnb_df_selected[col] = airbnb_df_selected[col].astype(str)
    le.fit(airbnb_df_selected[col])
    airbnb_df_selected[col] = le.transform(airbnb_df_selected[col])

In [15]:
#remove dollar sign from price column
dollar_sign_feature = ['price']

for col in dollar_sign_feature:
    airbnb_df_selected[col] = airbnb_df_selected[col].astype(str).str.replace('$', '').str.replace(',', '')
    airbnb_df_selected[col] = pd.to_numeric(airbnb_df_selected[col], errors='coerce')

In [16]:
#check to see that we have taken care of the nulls, and types of our data 
airbnb_df_selected.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50430 entries, 0 to 51096
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beds                          50430 non-null  int32
 1   city                          50430 non-null  int32
 2   market                        50430 non-null  int32
 3   bedrooms                      50430 non-null  int32
 4   bathrooms                     50430 non-null  int32
 5   minimum_nights                50430 non-null  int64
 6   price                         50430 non-null  float64
 7   property_type                 50430 non-null  int32
 8   accommodates                  50430 non-null  int64
 9   room_type                     50430 non-null  int32
 10  neighbourhood_group_cleansed  50430 non-null  int32
 11  availability_365              50430 non-null  int64
 12  latitude_longitude_bin        50430 non-null  int64
dtypes: float64(1), int32(8), int64(4)
memory usage: 3.8 MB

In [17]:
airbnb_df_selected.head(5)

,beds,city,market,bedrooms,bathrooms,minimum_nights,price,property_type,accommodates,room_type,neighbourhood_group_cleansed,availability_365,latitude_longitude_bin
0,1,188,11,0,2,7,225.0,1,1,0,2,365,13
1,17,48,11,1,2,1,89.0,19,3,0,1,137,9
2,1,188,11,1,2,3,200.0,1,2,0,2,0,13
4,1,188,11,1,2,2,79.0,1,2,2,2,216,13
5,1,188,11,1,2,2,79.0,1,1,2,2,0,16

In [18]:
#Now lets look at outliers and fix where we see fit
airbnb_df_selected.describe()

,beds,city,market,bedrooms,bathrooms,minimum_nights,price,property_type,accommodates,room_type,neighbourhood_group_cleansed,availability_365,latitude_longitude_bin
count,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000,50430.000000
mean,5.126889,134.178069,10.998850,2.008090,2.391077,7.474698,160.741701,5.872953,2.865100,0.975907,1.684236,117.160520,12.065279
std,6.062419,75.807700,0.113875,2.371514,1.108244,21.707132,375.315756,9.931590,1.890272,1.032208,0.744233,134.856952,2.487228
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,48.000000,11.000000,1.000000,2.000000,1.000000,69.000000,1.000000,2.000000,0.000000,1.000000,0.000000,9.000000
50%,1.000000,188.000000,11.000000,1.000000,2.000000,2.000000,105.000000,1.000000,2.000000,0.000000,2.000000,57.000000,13.000000
75%,11.000000,188.000000,11.000000,1.000000,2.000000,5.000000,175.000000,1.000000,4.000000,2.000000,2.000000,230.000000,13.000000
max,23.000000,325.000000,14.000000,14.000000,16.000000,1250.000000,10000.000000,39.000000,22.000000,3.000000,4.000000,365.000000,20.000000

In [19]:
z = np.abs(stats.zscore(airbnb_df_selected.price))
print(z)
threshold = 3
print(np.where(z > 3))
airbnb_df_selected.shape

[0.171213   0.19115215 0.10460176 ... 0.04460742 0.30838793 0.07795726]
(array([   69,   442,   683,  1326,  1798,  2225,  2731,  2893,  2915,
        3098,  3156,  3181,  3196,  3240,  3248,  3272,  3273,  3275,
        3283,  3284,  3311,  3325,  3332,  3334,  3335,  3339,  3343,
        3664,  3894,  3895,  4036,  4933,  5255,  5358,  5670,  5893,
        5977,  6060,  6399,  6485,  6778,  6803,  6905,  7891,  7980,
        8058,  8682,  9979, 10209, 11029, 11194, 13047, 13052, 13230,
       13976, 14133, 14145, 14565, 15004, 15968, 15993, 16105, 16567,
       16816, 17386, 17414, 17562, 17840, 18087, 19597, 20059, 20599,
       20968, 21384, 22395, 23128, 23193, 23819, 23927, 23963, 24654,
       24858, 25666, 25780, 26093, 26094, 26967, 26968, 26973, 27460,
       28186, 28449, 28483, 28915, 29184, 30377, 30421, 31313, 32375,
       32617, 32627, 32823, 33144, 33245, 33339, 33410, 33561, 33599,
       33893, 33952, 34176, 34554, 34692, 34841, 34972, 35116, 35490,
       35709, 35783, 36079, 36385, 36398, 36635, 37431, 37905, 38176,
       38254, 38255, 38256, 38257, 38258, 38259, 38260, 38261, 38271,
       38272, 38273, 38274, 38275, 38447, 38777, 38909, 39044, 39521,
       39827, 39844, 39847, 39848, 39849, 40143, 40246, 40552, 40613,
       40616, 40797, 40869, 41507, 41509, 41510, 41511, 41512, 41519,
       41716, 41774, 41787, 41828, 41924, 42079, 42118, 42380, 42500,
       42514, 42607, 42637, 42720, 43125, 43126, 43128, 43129, 43192,
       43382, 43383, 44163, 44164, 44165, 44166, 44208, 44372, 44529,
       44714, 44715, 44718, 44861, 45306, 45307, 45308, 45473, 45541,
       45744, 45745, 45944, 46148, 46309, 46537, 46602, 46617, 46742,
       46781, 46820, 46876, 46924, 47069, 47411, 47724, 47775, 47828,
       48033, 48106, 48190, 48264, 48646, 48704, 49129, 49170, 49214,
       49241, 49401, 49442, 49476, 49643], dtype=int64),)

(50430, 13)

In [20]:
airbnb_df_selected = airbnb_df_selected[(z < 3)]

In [21]:
airbnb_df_selected.shape

(50200, 13)

In [22]:
airbnb_df_selected.to_csv(r"C:\Users\darre\OneDrive\Documents\Capstone One Clean\Airbnb_NYC_Original.csv", index=False)